<html>
  <head>
<title>upload</title>
</head>
<body>
<div>
<h1>UPLOAD</h1><br>
</div>
<div>
<h2><a href="">Akhila</a></h2>
<p>address: channasandra</p>
<p> phone_no: 9964264736</p>
</div>
<div>
<h2><a href="">Vasundhara</a></h2>
<p>address: jumbo savari dinne</p>
<p> phone_no:9964264736</p>
</div>
<div>
<h2><a href="">Veda</a></h2>
<p>address: Tyagarajanagar</p>
<p> phone_no:7975837247</p>
</div>
<div>
<h2><a href="">Smitha</a></h2>
<p>address: padmanabhanagar</p>
<p> phone_no:8547896145 </p>
</div>
</body>
</html>
